*{
  margin: 0;
  padding: 0;
  border: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid black; */
}

.pesquisa{
  padding: 40px 0;
  height: 450px;
  /* border: 1px solid red; */
}
